@import "simplelightbox/dist/simple-lightbox.min.css";
ul{
    list-style: none;
}
img{
    display: block;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: center;
}